header {
    background-image: url("./images/minecraftCover.png");
    background-size: cover;

}

.heading-infocraft {
    font-family: 'Press Start 2P', cursive;
}

.pdj-footer {
    font-family: 'Lobster', cursive;
}